<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
        <input type="text" id="na" />
        <input type="button" value="click" onclick="DoAjax();" />
        <input type="text" id="nb" />
        <script src="{{static_url('js/jquery.min.js') }}"></script> 
        <script type="text/javascript">

            function DoAjax(){
                var temp = $('#na').val();//从第一个输入框里获取数据
                $.ajax({
                    url:"/test",//调用的是这个url对应的那个Handler
                    type:"POST",//Post方法
                    data:{dat:temp},//要往服务器传递的数据
                    success:function(arg){//成功从服务端获取到值，参数arg表示从服务端的Handler获取的数据
                        var obj = jQuery.parseJSON(arg);//获取的数据一般为json格式，用这个方法来解析数据
                        console.log(obj.status);
                        console.log(obj.message);
                        console.log(obj.data);
                        $('#nb').val(obj.data[0]);//给第二个输入框赋值
                    },
                    error:function(){//获取失败
                        console.log("failed");
                    }
                });
            }
        </script>
</body>
</html>